@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}

@section scripts{
    <script src="https://unpkg.com/imask"></script>
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';

        var urlIncluirBeneficiario = '@Url.Action("Incluir", "Beneficiario", new { idCliente = Model.Id, area = "" })';
        var urlAlterarBeneficiario = '@Url.Action("Alterar", "Beneficiario", new { idCliente = Model.Id, area = "" })';
        var urlRemoverBeneficiario = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
        var urlRetornoBeneficiario = '@Url.Action("BeneficiarioList", "Beneficiario", new { idCliente = Model.Id, area = ""})';
    </script>
    @Scripts.Render("~/bundles/altClientes")
}

<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
@Html.Partial("FormsBeneficiario")